182. Duplicate Emails

Table: Person

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| id          | int     |

| email       | varchar |

+-------------+---------+

id is the primary key column for this table.
Each row of this table contains an email. The emails will not contain uppercase letters.
 

Write an SQL query to report all the duplicate emails. Note that it's guaranteed that the email field is not NULL.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
email
FROM Person
GROUP BY email
HAVING count(email) > 1

1050. Actors and Directors Who Cooperated At Least Three Times

Table: ActorDirector

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| actor_id    | int     |

| director_id | int     |

| timestamp   | int     |

+-------------+---------+

timestamp is the primary key column for this table.
 

Write a SQL query for a report that provides the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING count(actor_id) >= 3

1587. Bank Account Summary II

Table: Users

+--------------+---------+

| Column Name  | Type    |

+--------------+---------+

| account      | int     |

| name         | varchar |

+--------------+---------+

account is the primary key for this table.
Each row of this table contains the account number of each user in the bank.
There will be no two users having the same name in the table.
 

Table: Transactions

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| trans_id      | int     |

| account       | int     |

| amount        | int     |

| transacted_on | date    |

+---------------+---------+

trans_id is the primary key for this table.
Each row of this table contains all changes made to all accounts.
amount is positive if the user received money and negative if they transferred money.
All accounts start with a balance of 0.
 

Write an SQL query to report the name and balance of users with a balance higher than 10000. The balance of an account is equal to the sum of the amounts of all transactions involving that account.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
name, SUM(amount) as balance
FROM Users LEFT JOIN Transactions USING(account)
GROUP BY account
HAVING balance > 10000

1084. Sales Analysis III

Table: Product

+--------------+---------+

| Column Name  | Type    |

+--------------+---------+

| product_id   | int     |

| product_name | varchar |

| unit_price   | int     |

+--------------+---------+

product_id is the primary key of this table.
Each row of this table indicates the name and the price of each product.
Table: Sales

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| seller_id   | int     |

| product_id  | int     |

| buyer_id    | int     |

| sale_date   | date    |

| quantity    | int     |

| price       | int     |

+-------------+---------+

This table has no primary key, it can have repeated rows.
product_id is a foreign key to the Product table.
Each row of this table contains some information about one sale.
 

Write an SQL query that reports the products that were only sold in the first quarter of 2019. That is, between 2019-01-01 and 2019-03-31 inclusive.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
product_id, product_name
FROM Sales LEFT JOIN Product USING(product_id)
GROUP BY product_id, product_name
HAVING max(sale_date) <= '2019-03-31' and min(sale_date) >= '2019-01-01'