1667. Fix Names in a Table

Table: Users

+----------------+---------+

| Column Name    | Type    |

+----------------+---------+

| user_id        | int     |

| name           | varchar |

+----------------+---------+

user_id is the primary key for this table.
This table contains the ID and the name of the user. The name consists of only lowercase and uppercase characters.
 

Write an SQL query to fix the names so that only the first character is uppercase and the rest are lowercase.

Return the result table ordered by user_id.

The query result format is in the following example.

In [ ]:
SELECT
user_id, CONCAT(UCASE(MID(name, 1,1)), LCASE(MID(name, 2))) AS name
FROM Users
ORDER BY user_id

1484. Group Sold Products By The Date

Table Activities:

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| sell_date   | date    |

| product     | varchar |

+-------------+---------+

There is no primary key for this table, it may contain duplicates.
Each row of this table contains the product name and the date it was sold in a market.
 

Write an SQL query to find for each date the number of different products sold and their names.

The sold products names for each date should be sorted lexicographically.

Return the result table ordered by sell_date.

The query result format is in the following example.

In [ ]:
SELECT
sell_date, COUNT(DISTINCT product) as num_sold, 
GROUP_CONCAT(DISTINCT product order by product ASC) as products
FROM Activities
GROUP BY sell_date
ORDER BY sell_date

1527. Patients With a Condition

Table: Patients

+--------------+---------+

| Column Name  | Type    |

+--------------+---------+

| patient_id   | int     |

| patient_name | varchar |

| conditions   | varchar |

+--------------+---------+

patient_id is the primary key for this table.
'conditions' contains 0 or more code separated by spaces. 
This table contains information of the patients in the hospital.
 

Write an SQL query to report the patient_id, patient_name and conditions of the patients who have Type I Diabetes. Type I Diabetes always starts with DIAB1 prefix.

Return the result table in any order.

The query result format is in the following example.

In [ ]:
-- "\\b" is a word boundary, so it will match the beginning or non-word characters a word(in this case will be the space before the word)
SELECT
patient_id, patient_name, conditions
FROM Patients
WHERE conditions REGEXP '\\bDIAB1'