1965. Employees With Missing Information

Table: Employees

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| employee_id | int     |

| name        | varchar |

+-------------+---------+

employee_id is the primary key for this table.
Each row of this table indicates the name of the employee whose ID is employee_id.
 

Table: Salaries

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| employee_id | int     |

| salary      | int     |

+-------------+---------+

employee_id is the primary key for this table.
Each row of this table indicates the salary of the employee whose ID is employee_id.
 

Write an SQL query to report the IDs of all the employees with missing information. The information of an employee is missing if:

The employee's name is missing, or
The employee's salary is missing.
Return the result table ordered by employee_id in ascending order.

The query result format is in the following example.

In [ ]:
SELECT
employee_id
FROM 
(SELECT * FROM Employees LEFT JOIN Salaries USING(employee_id)
UNION
SELECT * FROM Employees RIGHT JOIN Salaries USING(employee_id)) as a
WHERE a.name is null or a.salary is null
ORDER BY employee_id

1795. Rearrange Products Table

Table: Products

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| product_id  | int     |

| store1      | int     |

| store2      | int     |

| store3      | int     |

+-------------+---------+

product_id is the primary key for this table.
Each row in this table indicates the product's price in 3 different stores: store1, store2, and store3.
If the product is not available in a store, the price will be null in that store's column.
 

Write an SQL query to rearrange the Products table so that each row has (product_id, store, price). If a product is not available in a store, do not include a row with that product_id and store combination in the result table.

Return the result table in any order.

The query result format is in the following example.

In [ ]:
SELECT
product_id, store, price
FROM
(
SELECT product_id, 'store1' as store, store1 as price FROM Products
UNION ALL
SELECT product_id, 'store2' as store, store2 as price FROM Products
UNION ALL
SELECT product_id, 'store3' as store, store3 as price FROM Products
)as a
WHERE a.store is not null and a.price is not null

608. Tree Node

Table: Tree

+-------------+------+

| Column Name | Type |

+-------------+------+

| id          | int  |

| p_id        | int  |

+-------------+------+

id is the primary key column for this table.
Each row of this table contains information about the id of a node and the id of its parent node in a tree.
The given structure is always a valid tree.
 

Each node in the tree can be one of three types:

"Leaf": if the node is a leaf node.
"Root": if the node is the root of the tree.
"Inner": If the node is neither a leaf node nor a root node.
Write an SQL query to report the type of each node in the tree.

Return the result table in any order.

The query result format is in the following example.

In [ ]:
SELECT
a.id, type
FROM
(
    SELECT id, "Root" as type FROM Tree WHERE p_id is null
    UNION
    SELECT t1.id as id1, "Inner" as type FROM Tree AS t1 LEFT JOIN Tree AS t2
    ON (t1.id = t2.p_id) WHERE t2.id is not null and t1.p_id is not null
    UNION
    SELECT t1.id as id2, "Leaf" as type FROM Tree AS t1 LEFT JOIN Tree AS t2
    ON (t1.id = t2.p_id) WHERE t2.id is null and t1.p_id is not null
)as a

176. Second Highest Salary

Table: Employee

+-------------+------+

| Column Name | Type |

+-------------+------+

| id          | int  |

| salary      | int  |

+-------------+------+

id is the primary key column for this table.
Each row of this table contains information about the salary of an employee.
 

Write an SQL query to report the second highest salary from the Employee table. If there is no second highest salary, the query should report null.

In [ ]:
-- use DISTINCT salary to remove duplicate
-- use LIMIT 1 OFFSET 1 to get the second highest salary
-- use select within select to get null if there is no second highest salary
SELECT
(SELECT
DISTINCT salary
#FROM (SELECT * FROM Employee ORDER BY salary DESC LIMIT 2) as a
FROM Employee
ORDER BY salary DESC 
LIMIT 1 OFFSET 1) AS SecondHighestSalary