175. Combine Two Tables

Table: Person

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| personId    | int     |

| lastName    | varchar |

| firstName   | varchar |

+-------------+---------+

personId is the primary key column for this table.
This table contains information about the ID of some persons and their first and last names.
 

Table: Address

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| addressId   | int     |

| personId    | int     |

| city        | varchar |

| state       | varchar |

+-------------+---------+

addressId is the primary key column for this table.
Each row of this table contains information about the city and state of one person with ID = PersonId.
 

Write an SQL query to report the first name, last name, city, and state of each person in the Person table. If the address of a personId is not present in the Address table, report null instead.

Return the result table in any order.

In [ ]:
SELECT
firstName, lastName, city, state
FROM Person
LEFT JOIN Address USING(personId)

1581. Customer Who Visited but Did Not Make Any Transactions

Table: Visits

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| visit_id    | int     |

| customer_id | int     |

+-------------+---------+

visit_id is the primary key for this table.
This table contains information about the customers who visited the mall.
 

Table: Transactions

+----------------+---------+

| Column Name    | Type    |

+----------------+---------+

| transaction_id | int     |

| visit_id       | int     |

| amount         | int     |

+----------------+---------+

transaction_id is the primary key for this table.
This table contains information about the transactions made during the visit_id.
 

Write a SQL query to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.

In [ ]:
SELECT
DISTINCT customer_id, COUNT(visit_id) as count_no_trans
FROM Visits LEFT JOIN Transactions USING(visit_id)
WHERE transaction_id is null
GROUP BY customer_id

1148. Article Views I

Table: Views

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| article_id    | int     |

| author_id     | int     |

| viewer_id     | int     |

| view_date     | date    |

+---------------+---------+

There is no primary key for this table, it may have duplicate rows.
Each row of this table indicates that some viewer viewed an article (written by some author) on some date. 
Note that equal author_id and viewer_id indicate the same person.
 

Write an SQL query to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.

In [ ]:
SELECT
DISTINCT viewer_id as id
FROM Views
WHERE author_id = viewer_id
ORDER BY id ASC