197. Rising Temperature

Table: Weather

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| id            | int     |

| recordDate    | date    |

| temperature   | int     |

+---------------+---------+

id is the primary key for this table.
This table contains information about the temperature on a certain day.
 

Write an SQL query to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

In [ ]:
SELECT
w2.id
FROM Weather as w1, Weather as w2
WHERE datediff(w2.recordDate, w1.recordDate) = 1 AND w2.temperature > w1.temperature

607. Sales Person

Table: SalesPerson

+-----------------+---------+

| Column Name     | Type    |

+-----------------+---------+

| sales_id        | int     |

| name            | varchar |

| salary          | int     |

| commission_rate | int     |

| hire_date       | date    |

+-----------------+---------+

sales_id is the primary key column for this table.
Each row of this table indicates the name and the ID of a salesperson alongside their salary, commission rate, and hire date.
 

Table: Company

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| com_id      | int     |

| name        | varchar |

| city        | varchar |

+-------------+---------+

com_id is the primary key column for this table.
Each row of this table indicates the name and the ID of a company and the city in which the company is located.
 

Table: Orders

+-------------+------+

| Column Name | Type |

+-------------+------+

| order_id    | int  |

| order_date  | date |

| com_id      | int  |

| sales_id    | int  |

| amount      | int  |

+-------------+------+

order_id is the primary key column for this table.
com_id is a foreign key to com_id from the Company table.
sales_id is a foreign key to sales_id from the SalesPerson table.
Each row of this table contains information about one order. This includes the ID of the company, the ID of the salesperson, the date of the order, and the amount paid.
 

Write an SQL query to report the names of all the salespersons who did not have any orders related to the company with the name "RED".

Return the result table in any order.

In [ ]:
SELECT
DISTINCT s.name
FROM SalesPerson as s
WHERE s.sales_id not in (
  SELECT
  s.sales_id
  FROM  SalesPerson as s 
  LEFT JOIN Orders as o USING(sales_id) 
  LEFT JOIN Company as c USING(com_id)
  WHERE c.name = 'RED')