1141. User Activity for the Past 30 Days I

Table: Activity

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| user_id       | int     |

| session_id    | int     |

| activity_date | date    |

| activity_type | enum    |

+---------------+---------+

There is no primary key for this table, it may have duplicate rows.
The activity_type column is an ENUM of type ('open_session', 'end_session', 'scroll_down', 'send_message').
The table shows the user activities for a social media website. 
Note that each session belongs to exactly one user.
 

Write an SQL query to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
activity_date as day, count(distinct user_id) as active_users
FROM Activity
WHERE activity_date between DATE_SUB("2019-07-27", INTERVAL 29 DAY) and '2019-07-27'
GROUP BY activity_date

1693. Daily Leads and Partners

Table: DailySales

+-------------+---------+

| Column Name | Type    |

+-------------+---------+

| date_id     | date    |

| make_name   | varchar |

| lead_id     | int     |

| partner_id  | int     |

+-------------+---------+

This table does not have a primary key.
This table contains the date and the name of the product sold and the IDs of the lead and partner it was sold to.
The name consists of only lowercase English letters.
 

Write an SQL query that will, for each date_id and make_name, return the number of distinct lead_id's and distinct partner_id's.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
date_id, make_name, COUNT(DISTINCT lead_id) as unique_leads, COUNT(DISTINCT partner_id) as unique_partners
FROM DailySales
GROUP BY date_id, make_name

1729. Find Followers Count

Table: Followers

+-------------+------+

| Column Name | Type |

+-------------+------+

| user_id     | int  |

| follower_id | int  |

+-------------+------+

(user_id, follower_id) is the primary key for this table.
This table contains the IDs of a user and a follower in a social media app where the follower follows the user.
 

Write an SQL query that will, for each user, return the number of followers.

Return the result table ordered by user_id in ascending order.

In [ ]:
# Write your MySQL query statement below
SELECT
user_id, COUNT(DISTINCT follower_id) as followers_count
FROM Followers
GROUP BY user_id