586. Customer Placing the Largest Number of Orders

Table: Orders

+-----------------+----------+

| Column Name     | Type     |

+-----------------+----------+

| order_number    | int      |

| customer_number | int      |

+-----------------+----------+

order_number is the primary key for this table.
This table contains information about the order ID and the customer ID.
 

Write an SQL query to find the customer_number for the customer who has placed the largest number of orders.

The test cases are generated so that exactly one customer will have placed more orders than any other customer.

In [ ]:
# Write your MySQL query statement below
SELECT
customer_number
FROM Orders
GROUP BY customer_number
ORDER BY count(customer_number) DESC
LIMIT 1

511. Game Play Analysis I

Table: Activity

+--------------+---------+

| Column Name  | Type    |

+--------------+---------+

| player_id    | int     |

| device_id    | int     |

| event_date   | date    |

| games_played | int     |

+--------------+---------+

(player_id, event_date) is the primary key of this table.
This table shows the activity of players of some games.
Each row is a record of a player who logged in and played a number of games (possibly 0) before logging out on someday using some device.
 

Write an SQL query to report the first login date for each player.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
player_id, min(event_date) as first_login
FROM Activity
GROUP BY player_id

In [ ]:
# Write your MySQL query statement below
SELECT
DISTINCT player_id, min(event_date) OVER (PARTITION BY player_id) as first_login
FROM Activity

1890. The Latest Login in 2020

Table: Logins

+----------------+----------+

| Column Name    | Type     |

+----------------+----------+

| user_id        | int      |

| time_stamp     | datetime |

+----------------+----------+

(user_id, time_stamp) is the primary key for this table.
Each row contains information about the login time for the user with ID user_id.
 

Write an SQL query to report the latest login for all users in the year 2020. Do not include the users who did not login in 2020.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
DISTINCT user_id, max(time_stamp) over (PARTITION BY user_id) as last_stamp
FROM Logins
WHERE YEAR(time_stamp) = 2020

1741. Find Total Time Spent by Each Employee

Table: Employees

+-------------+------+

| Column Name | Type |

+-------------+------+

| emp_id      | int  |

| event_day   | date |

| in_time     | int  |

| out_time    | int  |

+-------------+------+

(emp_id, event_day, in_time) is the primary key of this table.
The table shows the employees' entries and exits in an office.
event_day is the day at which this event happened, in_time is the minute at which the employee entered the office, and out_time is the minute at which they left the office.
in_time and out_time are between 1 and 1440.
It is guaranteed that no two events on the same day intersect in time, and in_time < out_time.
 

Write an SQL query to calculate the total time in minutes spent by each employee on each day at the office. Note that within one day, an employee can enter and leave more than once. The time spent in the office for a single entry is out_time - in_time.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
event_day as day, emp_id, sum(out_time - in_time) as total_time
FROM Employees
GROUP BY event_day, emp_id