1393. Capital Gain/Loss

Table: Stocks

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| stock_name    | varchar |

| operation     | enum    |

| operation_day | int     |

| price         | int     |

+---------------+---------+

(stock_name, operation_day) is the primary key for this table.
The operation column is an ENUM of type ('Sell', 'Buy')
Each row of this table indicates that the stock which has stock_name had an operation on the day operation_day with the price.
It is guaranteed that each 'Sell' operation for a stock has a corresponding 'Buy' operation in a previous day. It is also guaranteed that each 'Buy' operation for a stock has a corresponding 'Sell' operation in an upcoming day.
 

Write an SQL query to report the Capital gain/loss for each stock.

The Capital gain/loss of a stock is the total gain or loss after buying and selling the stock one or many times.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
stock_name, sum(case when operation = 'Sell' THEN price else -price END) as capital_gain_loss
FROM Stocks
GROUP BY stock_name

In [ ]:
WITH TotalBought AS (
    SELECT stock_name, SUM(price) AS spent
    FROM Stocks
    WHERE operation = 'Buy'
    GROUP BY stock_name
),
TotalSold AS (
    SELECT stock_name , SUM(price) AS gained
    FROM Stocks
    WHERE operation = 'Sell'
    GROUP BY stock_name
)

SELECT B.stock_name, gained - spent AS capital_gain_loss
FROM TotalBought AS B
JOIN TotalSold AS S
ON B.stock_name = S.stock_name

In [ ]:
SELECT DISTINCT stock_name, 
       SUM(CASE WHEN operation = 'Sell' THEN price ELSE -price END)
       OVER(PARTITION BY stock_name) AS capital_gain_loss
FROM Stocks

1407. Top Travellers

Table: Users

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| id            | int     |

| name          | varchar |

+---------------+---------+

id is the primary key for this table.
name is the name of the user.
 

Table: Rides

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| id            | int     |

| user_id       | int     |

| distance      | int     |

+---------------+---------+

id is the primary key for this table.
user_id is the id of the user who traveled the distance "distance".
 

Write an SQL query to report the distance traveled by each user.

Return the result table ordered by travelled_distance in descending order, if two or more users traveled the same distance, order them by their name in ascending order.

In [ ]:
# Write your MySQL query statement below
SELECT
name, IFNULL(sum(distance), 0) as travelled_distance
FROM Users as u LEFT JOIN Rides as r ON (u.id = r.user_id)
GROUP BY user_id
ORDER BY travelled_distance DESC, name ASC

1158. Market Analysis I

Table: Users

+----------------+---------+

| Column Name    | Type    |

+----------------+---------+

| user_id        | int     |

| join_date      | date    |

| favorite_brand | varchar |

+----------------+---------+

user_id is the primary key of this table.
This table has the info of the users of an online shopping website where users can sell and buy items.
 

Table: Orders

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| order_id      | int     |

| order_date    | date    |

| item_id       | int     |

| buyer_id      | int     |

| seller_id     | int     |

+---------------+---------+

order_id is the primary key of this table.
item_id is a foreign key to the Items table.
buyer_id and seller_id are foreign keys to the Users table.
 

Table: Items

+---------------+---------+

| Column Name   | Type    |

+---------------+---------+

| item_id       | int     |

| item_brand    | varchar |

+---------------+---------+

item_id is the primary key of this table.
 

Write an SQL query to find for each user, the join date and the number of orders they made as a buyer in 2019.

Return the result table in any order.

In [ ]:
# Write your MySQL query statement below
SELECT
user_id as buyer_id, MIN(join_date) as join_date, count(order_id) as orders_in_2019
FROM Users as u LEFT JOIN Orders as o ON u.user_id = o.buyer_id AND YEAR(order_date) = 2019
GROUP BY user_id